:root {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: rgb(96, 86, 120);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#fff),
      to(#ecdfcc)
    )
    fixed;
}
